.primary {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  display: block;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

.secondary {
  background-color: var(--theme-background-light);
  border: 1px solid var(--theme-background-normal);
  color: var(--theme-color-normal);
  display: block;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  width: 200px;
}

button:disabled {
  background-color: lightgray;
  border-width: 0;
  color: gray;
  pointer-events: none;
}

.danger {
  background-color: #dc3545;
  color: white;
  border: 1px solid #dc3545;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
}

.danger:hover {
  background-color: #c82333;
}

.danger:disabled {
  background-color: #e4606d;
  cursor: not-allowed;
}

.editButton {
  background-color: green;
  color: white;
  border: 1px solid green;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
}
